/* @import './base.css'; */

:root {
  --main-color: rgb(0, 130, 255);
  --main-text: lightgray;
  --main-background: rgb(30, 30, 35);
  --secondary-background: rgb(40, 40, 45);
  --transparent-background: rgb(30, 30, 35, 0.8);

  color-scheme: dark;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: medium;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.25s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

::-webkit-scrollbar-track {
  background-color: none;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--main-text);
  background: var(--main-background);
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 348px;
  display: flex;
  flex-direction: column;
}
